<!--AGREGAR CONTENIDO A PAGINA
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    
    <main class="px-3">
        <div> <!--EJEMPLO ANGULAR ASAP .NET Core
            <h1 id="tableLabel">Weather forecast</h1>
            <p>This component demonstrates fetching data from the server.</p>
        
            <p *ngIf="!forecasts"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>
        
            <table *ngIf="forecasts">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Temp. (C)</th>
                        <th>Temp. (F)</th>
                        <th>Summary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let forecast of forecasts">
                        <td>{{ forecast.date }}</td>
                        <td>{{ forecast.temperatureC }}</td>
                        <td>{{ forecast.temperatureF }}</td>
                        <td>{{ forecast.summary }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="text-align:center"> <!--EJEMPLO IMPORTAR OTRAS APIs
            <h1>
                <strong>CONTENIDO</strong>
            </h1>
            <br>
            
            <button (click)="getData()">Fetch Data</button>
            <h3>{{ dato }}</h3> 
        </div>
    </main>

    <br>
    <br>
    <br>

    <h2>Clima Actual</h2>
    
    <tr *ngFor="let climaActual of climasActuales">
        <td>{{ climaActual.avg }}</td>

    </tr>

    <br>
    <br>
    <br>

    <h2>Clima Actual de mi Locacion</h2>
    <ul *ngFor="let clima of climas">
        <li>{{ clima.temperature }}</li>
        <li>lalalalla</li>
    </ul>
-->

<!--CONTENEDOR GENERAL-->
<div class="container">

    <!-- INICIO WIDGET DE CLIMA -->
    <div class="contenedorWidget">
        <div id="divWeatherMain"> 

            <div class="row">
                <!--Lado Izquierdo-->
                <div class="col colWeatherWidget">
                    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">
                        {{ WeatherData.temp_celcius }}°
                    </div>
                    <div class="weatherWidgetRow" style="font-size: 12px;">
                        {{ WeatherData.temp_min }}° min / {{ WeatherData.temp_max }}° max
                    </div>
                    <div class="weatherWidgetRow" style="font-size: 12px;">
                        Sensacion Termica: {{ WeatherData.temp_feels_like }}°
                    </div>
                    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">
                        {{ WeatherData.name }}
                    </div>
                    <div class="weatherWidgetRow" style="font-size: 12px;">
                        Humedad: {{ WeatherData.main.humidity }}%
                    </div>
                </div>

                <!--Fin Info lado Izquierdo-->
                <!--Lado Derecho-->
                <div class="col colWeatherWidgetIcon">
                    <div *ngIf="WeatherData.isDay" class="weatherWidgetRow">
                        <i class="fas fa-7x fa-sun sun"></i>  
                    </div>   
                    <div *ngIf="!WeatherData.isDay" class="weatherWidgetRow">
                        <i class="fas fa-7x fa-moon moon"></i>  
                    </div>   
                    <div class="weatherWidgetRow cloudDiv">
                        <i class="fas fa-cloud fa-7x cloud"></i>
                    </div>
                </div>
                <!--Fin Info lado Derecho-->
    
            </div>
        </div>
    </div>
    <!-- FIN WIDGET DE CLIMA -->

    <br>

    <!--INICIO MULTIPLE WIDGET CHICOS-->
    <div class="contenedoresChicos">    
        <div class="row">
            <!--INICIO WIDGET TERREMOTO-->
            <div class="col text-center">
                <div class="divTerremotoMain">
                    <div class="weatherWidgetRow">
                        <i class="fa-solid fa-7x fa-house-chimney-crack casa"></i>
                    </div>
                    <div class="terremotoWidgetRow" style="font-size: 28px;margin-top: 5px;">
                        Ultimo Terremoto Registrado
                    </div>
                    <div class="terremotoWidgetRow" style="font-size: 20px;">
                        Magnitud: <!-- {{ TerremotoData.magnitud }} --> 6.8
                     </div>
                    <div class="terremotoWidgetRow" style="font-size: 15px;">
                        <!-- {{ TerremotoData.ciudad }} --> Michoacan
                    </div>
                    <div class="terremotoWidgetRow" style="font-size: 15px;">
                        <!-- {{ TerremotoData.fecha }} --> 27/07/2022
                    </div>
                    <div class="terremotoWidgetRow" style="font-size: 15px;">
                        <!-- {{ TerremotoData.hora }} --> 18:02:20
                    </div>
                    
                </div>
            </div>
            <!--FIN WIDGET TERREMOTO-->

            <!--INICIO WIDGET AIRE-->
            <div class="col text-center">
                <div class="divAireMain">
                    <div class="weatherWidgetRow">
                        <i class="fas fa-5x fa-lungs pulmon"></i> 
                    </div>
                    <div class="aireWidgetRow" style="font-size: 28px;margin-top: 7px;">
                       Calidad del Aire {{ AireData.ciudad }}
                    </div>
                    <div class="aireWidgetRow" style="font-size: 20px;">
                        Indice de Calidad: {{ AireData.calidad }}
                    </div>
                    <div class="aireWidgetRow" style="font-size: 12px;">
                        ____________________________________________
                    </div>
                    <div class="aireWidgetRow" style="font-size: 12px;">
                        Ozono: {{ AireData.calidadO3 }}
                    </div> 
                    <div class="aireWidgetRow" style="font-size: 12px;">
                       Dioxido de Nitrogeno: {{ AireData.calidadNO2 }}
                    </div>
                    <div class="aireWidgetRow" style="font-size: 12px;">
                        Dioido de Azufre: {{ AireData.calidadSO2 }}
                    </div>
                    <div class="aireWidgetRow" style="font-size: 12px;">
                        Monoxido de Carbono: {{ AireData.calidadCO }}
                    </div>
                   
                </div>
            </div>
            <!--FIN WIDGET AIRE-->
        </div>
    </div>
    <!--FIN MULTIPLE WIDGET CHICOS-->

    <br>

    <!-- INICIO WIDGET DE ..... -->
    <div class="contenedorWidget">
        <div id="divWeatherMain"> 
            <h1>OTRO WIDGET</h1>
        </div>
    </div>
    <!-- FIN WIDGET DE .... -->


</div>
