<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/306a84af-21d0-419c-b5d2-8297711bc323/resourceGroups/Servicios-2/providers/Microsoft.Web/sites/apimunicipioatizapan</ResourceId>
    <ResourceGroup>Servicios-2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://apimunicipioatizapan.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://apimunicipioatizapan.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$apimunicipioatizapan</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>