.textoElementos {
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}

.textoBoton {
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}
