<!--CAMBIAR A LOGO DE LA APP O DEL MUNICIPIO AL IGUAL QUE LOS VALORES-->



<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

    <!--Imagen y Titulo-->
    <a href="../main" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      
        <img src="../assets/img/AtizapanLogoIcono.png" alt="Logo" width="90" height="90" >
      
      <span class="fs-2">
        <h2>Alerta Atizapan</h2>
      </span>
    </a>

    <!--Elementos de navegacion-->
    <ul class="nav nav-pills">
      <li class="texto-navegacion"><a href="../main" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="../panel-info" class="nav-link">Panel</a></li>
      <li class="nav-item"><a href="../download" class="nav-link">Descarga</a></li>
      <li class="nav-item"><a href="../about" class="nav-link">Acerca de </a></li>
    </ul>

    <!--Boton de login-->
    <div class="text-end">
        <button type="button" class="btn btn-outline-dark me-2, btn btn-warning">
          <a class="nav-link" href="../login">
            <i class="fas fa-sign-in-alt"></i>
            Iniciar Sesión
          </a>
        </button>
      </div>

  </header>
</div>