<div class="container">
    <!--CONTENIDO DE DESCARGA-->
    <div class="col-lg-8 mx-auto p-4 py-md-5 container text-center">

        <!--Descarga e Imagen-->
        <div class="row">

            <!--Info lado Izquierdo-->
            <div class="col">
                <h1>Alerta Atizapan App</h1>

                <p class="fs-5 col-lg texto">

                    Applicacion Movil que notifica a los habitantes de la ciudad de Atizapan de Zaragoza, 
                    cualquier tipo de emergencia que se presente en la ciudad.

                    <br>
                    <br>

                    Si vives o transitas en <i class="remarcado">Atizapán de Zaragoza</i> utiliza la aplicacion Alerta Atizapan para 
                    solicitar cualquier servicio de emergencia. Asimismo recibe notificacines de emergencia para
                    siempre estar alera y cuidar a los que mas quieres 

                </p>

                <h3>¡Descarga la aplicación y ayúdanos a cuidarte tu municipio!</h3>
                

                <br>

            <!--Boton de Descarga-->
                <div class="d-grid gap-2 log">
                    <a class="btn downloadbtn" href="https://play.google.com/store/apps/details?id=mx.gob.edomex.atizapan.gc" role="button">
                        <img src="../assets/img/googlePlay.svg" class="img-fluid" alt="...">
                        Descargar
                    </a>
                </div> 
            <!--Fin Boton de descarga-->
            </div>

            <!--Fin Info lado Izquierdo-->

            <!--Info lado Derecho-->
            <div class="col">
                <img src="../assets/img/phone.png" class="img-fluid" alt="..." width="800" height="800">
            </div>
            <!--Fin Info lado Derecho-->

        </div>
        <!--Fin Descarga e Imagen-->

        <br>
        <br>
        <br>

    <!--Contenido de Caracteristicas-->
    <div class="container px-4 py-5" id="icon-grid">

        <!--Titulo de caracteristicas-->
        <h2 class="pb-2 border-bottom">Caracteristicas</h2>

        <!--Caracteristicas con iconos-->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-8 g-5 py-5">
            <div class="col d-flex  caracteristica">

            <!-- INTUITIVA -->
              <i class="fa-regular fa-2x fa-heart icono"></i> 
            <div>
                <h3 class="fw-bold mb-0 fs-4">Intuitiva</h3>
                <p class="textoCaracteristicas ">Facil de usar y amigable con el usuario</p>
            </div>
            </div>
            <!-- FIN INTUITIVA -->

            <!-- NOTIFICACIONES INSTANTANEAS -->
            <div class="col d-flex caracteristicas">
                <i class="fa-solid fa-2x fa-triangle-exclamation icono"></i>
            <div>
                <h3 class="fw-bold mb-0 fs-4">Notificaciones Instantaneas</h3>
                <p class="textoCaracteristicas ">Notificaciones de Alerta en el momento</p>
            </div>
            </div>
            <!-- FIN NOTIFICACIONES INSTANTANEAS -->

            <!-- NOTIFICACIONES SMS -->
            <div class="col d-flex align-items-start">
                <i class="fa-solid fa-2x fa-comment-sms icono"></i>
            <div>
                <h3 class="fw-bold mb-0 fs-4">Notificaciones por SMS</h3>
                <p class="textoCaracteristicas ">Notificaciones a traves de mensaje de texto</p>
            </div>
            </div>
            <!-- FIN NOTIFICACIONES SMS -->

            <!-- MARCADO RAPIDO -->
            <div class="col d-flex align-items-start">
                <i class="fa-solid  fa-2x fa-phone icono"></i>
            <div>
                <h3 class="fw-bold mb-0 fs-4">Marcado Rapido</h3>
                <p class="textoCaracteristicas ">Llama a emergencias con un solo boton</p>
            </div>
            </div>
            <!-- FIN MARCADO RAPIDO -->

            <!-- LOCALIZACION -->
            <div class="col d-flex align-items-start">
                <i class="fa-solid fa-2x fa-map-location-dot icono"></i>
            <div>
                <h3 class="fw-bold mb-0 fs-4">Localización</h3>
                <p class="textoCaracteristicas ">Envia tu ubicacion en tiempo real</p>
            </div>
            </div>
            <!-- FIN LOCALIZACION -->

            <!-- ATENCION INSTANTANEA -->
            <div class="col d-flex align-items-start">
                <i class="fa-solid fa-handshake-angle icono"></i>
            <div>
                <h3 class="fw-bold mb-0 fs-4">Atención Instantanea</h3>
                <p class="textoCaracteristicas ">Atencion por parte de las autoridades al instante</p>
            </div>
            </div>
            <!-- FIN ATENCION INSTANTANEA -->

            <!-- DIRECTORIO DE EMERGENCIAS -->
            <div class="col d-flex align-items-start">
                <i class="fa-solid fa-2x fa-address-book icono"></i>
            <div>
                <h3 class="fw-bold mb-0 fs-4">Directorio de Emergencia</h3>
                <p class="textoCaracteristicas ">Directorio de atencion Municipal</p>
            </div>
            </div>
            <!-- FIN DIRECTORIO DE EMERGENCIAS -->

            <!-- CLIMA -->
            <div class="col d-flex align-items-start">
                <i class="fa-solid fa-2x fa-temperature-quarter icono"></i>
            <div>
                <h3 class="fw-bold mb-0 fs-4">Clima</h3>
                <p class="textoCaracteristicas ">Clima en tiempo real de Atizapan de Zaragoza</p>
            </div>
            </div>
            <!-- FIN EMERGENCIA -->

            <!-- CALIDAD AIRE -->
            <div class="col d-flex align-items-start">
                <i class="fa-solid fa-2x fa-lungs icono"></i>
            <div>
                <h3 class="fw-bold mb-0 fs-4">Calidad de Aire</h3>
                <p class="textoCaracteristicas ">Calidad del aire en tiempo real de Atizapan de Zaragoza</p>
            </div>
            </div>
            <!-- FIN CALIDAD AIRE -->
        </div> 
        <!--Fin Caracteristicas con iconos-->
    </div>
     <!--Fin Contenido Iconos-->
    </div>
    <!--Fin Contenido Descarga-->
    

</div>
