.marginHeader {
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
}

.scrollable {
    overflow-y: scroll;
    height: 700px;
    
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }