<!-- INICIO HEADER -->
<header class="d-flex sticky-top flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom marginHeader">

    <!--Imagen y Titulo-->
    <a href="../main" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"> 
      <img src="../assets/img/AtizapanLogoIcono.png" alt="Logo" width="90" height="90" >
    <span class="fs-2">
      <h2>Administrador Alerta Atizapan</h2>
    </span>
  </a>

  <div class="col-md-3 text-end">
    <button type="button" class="btn btn-outline-dark me-2, btn btn-warning">
      <a class="nav-link px-3" href="/login">
        <i class="fa-solid fa-circle-xmark"></i>
        Salir de Sesión
      </a>
    </button>
  </div>
  </header>
<!-- FIN HEADER -->

<!-- INICIO BOTON ALERTA -->
<div class="container-sm">

  <iframe 
  src="https://helpnetx.com/andre/creanotificacion.php"
  width="1150"
  height="320px"
  style="border:none;"
  scrolling="yes"
  frameborder="0"
  allowtransparency="true"
  allow="encrypted-media"
  ></iframe>
  

</div>

<div class="container ">
  <div class="row text-center">

    <!-- INICIO COLUMNA REPORTES -->
    <div class="col col-lg-5">
      <!-- INICIO TITULO REPORTES -->
      <a class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold">Reportes</span>
      </a>
      <!-- FIN TITULO REPORTES -->
      <!-- INICIO CONTENIDO SCROLEABLE DE REPORTES -->

      <div class="container scrollable">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 480px;">        
          <div class="list-group list-group-flush border-bottom " *ngFor="let reporte of reportes | orderBy: '{{ reporte.evento_id }}': true" >

            <div *ngIf="reporte.estatus != 'Finalizada'">

              <button class="btn btn-outline-primary list-group-item list-group-item-action py-3 lh-sm " type="submit" (click)="selectItem(reporte)">
                
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">ID: {{ reporte.evento_id }}</strong>
                </div>

                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Prioridad: {{ reporte.prioridad }}</strong>
                  <small class="text-muted">{{ reporte.estatus }}</small>
                </div>

                <div class="col-10 mb-1 small">Información: {{ reporte.verificacion }}</div>

              </button>

            </div>

            
          </div>
        </div>
    </div>

    <!-- FIN CONTENIDO SCROLEABLE DE REPORTES -->

  </div>
  <!-- FIN COLUMNA REPORTES -->

  <!-- INICIO COLUIMNA WIDGETS -->
  <div class="col col-lg">
    <!-- INICIO FILA INFORMACION -->
    <div class="row">
      <div class="col">
        <!-- INICIO VERIFICACION DE REPORTE -->
        <div class="container">

          <br>
          <br>
          <br>

          <google-map height="450px" width="600px" [center]="center" [zoom]="zoom">
            <!-- <map-marker *ngFor="let markerPosition of markerPositions"
            [position]="markerPosition"></map-marker> -->
            <map-marker #marker="mapMarker"
              *ngFor="let markerPosition of markerPositions"
              [position]="markerPosition"
              (mapClick)="openInfoWindow(marker)"></map-marker>

              <map-info-window>
                <div class="info-window">
                  <h3>Solicitud de Emergencia</h3>
                  <p>Se ha reportado una emergencia en {{ MapsData.direccion }}.</p>
                </div>
              </map-info-window>

            </google-map>
        </div>

        <br>

        <!-- FIN VERIFICACION DE REPORTE -->

        <div class="container">
          <strong class="mb-1"> Direccion: {{ MapsData.direccion }}</strong>
        </div>
        <br>
      </div>
    </div>
    <!-- FIN FILA MAPA -->

    <!-- INICIO FILA INFORMACION -->
    <div class="row">
      <div class="col">
        <!-- INICIO VERIFICACION DE REPORTE -->
        <div class="container">
          <form [formGroup]="actualizacionEstatus" class="" (ngSubmit)="cambio()">
            <h5 class="align-left">Revision Reporte</h5>
            <br>
            <div class="form-floating mb-3">
              <input formControlName="evento_id"  type="text" class="form-control" nombre="idInput" id="evento_id">
              <label for="floatingInput">Id</label>
            </div>
            
            <div class="mb-3">
              <label for="formFile" class="form-label">Estatus</label>
              <select formControlName="estatus" class="form-select" nombre="estatusInput" id="estatus">
              <option>Pendiente</option>
              <option>En Revision</option>
              <option>Finalizada</option>
              </select>
            </div> 

            <button class="w-100 btn btn-md btn-warning" type="submit">verificar</button>
          </form>
        </div>
        <!-- FIN VERIFICACION DE REPORTE -->
      </div>
    </div>
    <!-- FIN FILA INFORMACION -->

  </div>
  <!-- FIN COLUIMNA WIDGETS -->

  


